<%= form_with(model: assistant, local: true, class: 'col-md-5') do |form| %>
  <% if assistant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assistant.errors.count, "error") %> prohibited this assistant from being saved:</h2>

      <ul>
      <% assistant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%= form.label :reservation_code %>
    <%= form.text_field :reservation_code, id: :assistant_reservation_code %>
  </div> -->

  <div class="form-group">
    <%= form.text_field :name, id: :assistant_name, class: 'form-control', placeholder: 'Nombres' %>
  </div>

  <div class="form-group">
    <%= form.text_field :last_name, id: :assistant_last_name, class: 'form-control', placeholder: 'Apellidos' %>
  </div>

  <div class="form-group">
    <%= form.text_field :email, id: :assistant_email, class: 'form-control', placeholder: 'Córreo eléctronico' %>
  </div>

  <div class="form-group">
    <%= form.label 'Metodo de pago' %>
    <%= form.select(:pay_method, ['Cortesia', 'Oxxo', 'Tarjeta', 'Depósito Boletia'], {}, { :class => 'form-control' }) %>
  </div>

  <div class="form-group">
    <%= form.label 'Cantidad de boletos' %>
    <%= form.number_field :ticket_quantity, id: :assistant_ticket_quantity %>
  </div>

  <div class="form-group">
    <%= form.label :reservation_date %>
    <%= form.date_select :reservation_date, id: :assistant_reservation_date %>
  </div>
 
  <div class="form-group">
    <%= form.label 'Notas' %>
    <%= form.text_area :notes, id: :assistant_notes, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Registrar', class: 'btn btn-primary' %>
  </div>

<% end %>
