<p id="notice"><%= notice %></p>

<p>
  <strong>Código:</strong>
  <%= @assistant.reservation_code %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @assistant.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @assistant.last_name %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @assistant.email %>
</p>

<p>
  <strong>Fecha de reservacion:</strong>
  <%= @assistant.reservation_date %>
</p>

<p>
  <strong>Llegó:</strong>
  <%= "#{@assistant.attended ? 'Si' : 'No' }" %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @assistant.notes %>
</p>

<%= link_to 'Edit', edit_assistant_path(@assistant) %> |
<%= link_to 'Back', assistants_path %>
